---
layout: page
title: Index Page
feature_image: assets/wallpaper.jpg
feature_text: |
 <hr>
 <h1 style="color: white; font-size: 50px"> Whallop Bittel </h1>
 <p style="color: white; font-family: CourierM; font-weight: medium; font-size: 24px"> Welcome to the test Wiki! </p>
 <hr>
---

{% include site-search.html %}

<hr>

<h2> Welcome to the Index </h2>
Here you will be able to navigate the site. Here are the current posts: <br>

{% for post in site.posts %}
	<a href="{{ site.baseurl }}{{ post.url }}"> {{ post.title }}</a> <br>
{% endfor %}

<hr>