---
layout: page
title: Home Page
feature_image: assets/wallpaper.jpg
feature_text: |
 <hr>
 <h1 style="color: white; font-size: 50px"> Whallop Bittel </h1>
 <p style="color: white; font-family: CourierM; font-weight: medium; font-size: 24px"> Welcome to the test Wiki! </p>
 <hr>
---

{% include site-search.html %}

<hr>

<h2 style="text-decoration: underline; text-align: center"> Subsystems </h2>

<center>
{% for sub in site.data.subsystem  %}
	{% capture my_url %} {{ site.baseurl }}{{ sub.url }} {% endcapture %}
	{% include button.html text=sub.name link=my_url %}
{% endfor %}
</center>